includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    reportUnmatchedIgnoredErrors: false

    # The level 8 is the highest level
    level: 6

    noModelMake: false

    ignoreErrors:
        - '#Access to an undefined property#'
        -
            message: '#Call to an undefined method#'
            path: ./src/Http/Controllers/Api/Fabriq/MenuItemTreeController.php
        -
            message: '#Call to an undefined static method#'
            path: ./src/Http/Controllers/Api/Fabriq/MenuItemTreeController.php
        #-
        #    message: '#Call to an undefined method#'
        #    path: ./src/Services/ResponsiveImageGenerator.php
        -
            message: '#Parameter#'
            path: ./src/MacroServiceProvider.php
        -
            message: '#in call to function collect#'
            path: ./src/Models/Page.php
        -
            message: '#getSlugString#'
            path: ./src/Models/Page.php
        -
            message: '#unused use#'
            path: ./src/ContentGetters/BaseGetter.php
        -
            message: '#use array destructuring on#'
            path: ./src/Models/Image.php
        -
            message: '#filename of function getimagesize expects string#'
            path: ./src/Models/Image.php
        -
            message: '#undefined method DOMNode#'
            path: ./src/Models/Comment.php
        -
            message: '#undefined method#'
            path: ./src/Actions/ClonePage.php
        # -

        #     message: '#$view of function view expects view-string#'
        #     path: ./src/Http/Controllers/Api/Fabriq/ImageSourceSetController.php
        # -
        #     message: '#$view of function view expects view-string#'
        #     path: ./src/Http/Controllers/SpaController.php

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - src/Console/*
        - src/RouteRegistrar.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
